.downloadButton {
  color: var(--off-white);
  font-size: 0.62em;
  width: 2em !important;
  height: 2em !important;
  align-self: center;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4em;
  transform: rotate(90deg);
}
.downloadButton i {
  background-color: var(--blue);
  transition: all 0.3s ease;
  margin: 0 !important;
}
.downloadButton:hover {
  color: var(--off-white);
  text-decoration: none;
}
.downloadButton i:hover {
  background-color: color-mix(in hsl, var(--blue), #fff 10%);
}
.downloadButton i:active {
  background-color: color-mix(in hsl, var(--blue), #fff 20%);
}
.downloadButton i::before {
  content: '\f04b' !important;
}

/* Changes container class to center downalod button */
.css-11g2wvj {
  display: flex;
}
